{
  "id": "$ID",
  "instance": 1,
  "cpus": 1,
  "mem": 2048,
  "type": "DOCKER",
  "container": {
    "docker": {
      "image": "gitlab/gitlab-ce:8.12.0-ce.0",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 80,
          "hostPort": 0,
          "protocol": "tcp",
          "servicePort": 0,
          "labels": {
            "applicationProtocol": "HTTPS"
          }
        },
        {
          "containerPort": 22,
          "hostPort": 0,
          "protocol": "tcp",
          "servicePort": 0,
          "labels": {
            "applicationProtocol": "SSH"
          }
        }
      ],
      "parameters": [
        {
          "key": "env",
          "value": "GITLAB_OMNIBUS_CONFIG=external_url 'https://${brickUrl}/';nginx['enable'] = true; nginx['redirect_http_to_https'] = false; nginx['listen_port'] = 80; nginx['listen_https'] = false; gitlab_rails['gitlab_shell_ssh_port'] = ${stack.scmSshPort}"
       ##   "value": "GITLAB_OMNIBUS_CONFIG=gitlab_rails['gitlab_shell_ssh_port'] = ${stack.scmSshPort}"
        },
        {
          "key": "label",
          "value": "project=$projectName"
        },
        {
          "key": "label",
          "value": "componentType=scm"
        },
        {
          "key": "label",
          "value": "component=gitlab"
        },
        {
          "key": "user",
          "value": "root"
        }
      ]
    },
    "volumes": [
      {
        "containerPath": "/var/opt/gitlab",
        "hostPath": "/kodokojo/env/$projectName/gitlab/",
        "mode": "RW"
      }
    ]
  },#if( $constrainByTypeAttribute )
  "constraints": [
    [
      "type",
      "LIKE",
      "operator"
    ]
  ],#end
  "healthChecks": [
    {
      "protocol": "HTTP",
      "portIndex": 0,
      "path": "/users/sign_in",
      "gracePeriodSeconds": 60,
      "intervalSeconds": 10,
      "maxConsecutiveFailures": 20
    }
  ],
  "labels": {
    "endpoint": "$projectName",
    "managedByKodoKojoHa": "true",
    "componentType": "scm",
    "component": "gitlab"
  }
}