#set ( $d = "$")
{
  "id": "$ID",
  "instance": 1,
  "cpus": 0.1,
  "mem": 128,
  "type": "DOCKER",
  "cmd": "/start.sh -httpPort 4444 -marathonUrl $marathonUrl -marathonCallbackUrl http://${d}HOST:${d}PORT/callback",
  "container": {
    "docker": {
      "image": "kodokojo/kodokojo-haproxy-marathon",
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 4444, "hostPort": 0, "servicePort": 0, "protocol": "tcp" },
        { "containerPort": 80, "hostPort": 80, "servicePort": 0, "protocol": "tcp" },
        { "containerPort": 443, "hostPort": 443, "servicePort": 0, "protocol": "tcp" },
        { "containerPort": ${stack.scmSshPort}, "hostPort": ${stack.scmSshPort}, "servicePort": 0, "protocol": "tcp" }
      ],
      "parameters": [
        {
          "key": "label",
          "value": "componentType=lb"
        },
        {
          "key": "label",
          "value": "component=haproxy"
        }
      ]
    }
  },#if( $constrainByTypeAttribute )
  "constraints": [
    [
      "type",
      "LIKE",
      "entrypoint"
    ]
  ],#end
  "labels": {
    "componentType": "ha",
    "component": "haproxy"
  }
}