{
  "id": "$ID",
  "instance": 1,
  "cpus": 0.4,
  "mem": 1024,
  "type": "DOCKER",
  "container": {
    "docker": {
      "image": "jenkins:1.651.3-alpine",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 8080,
          "hostPort": 0,
          "protocol": "tcp",
          "servicePort": 0
        }
      ],
      "parameters": [
        {
          "key": "env",
          "value": "JENKINS_SLAVE_AGENT_PORT=50000"
        },
        {
          "key": "env",
          "value": "JAVA_OPTS=-Duser.timezone=Europe/Paris"
        },
        {
          "key": "label",
          "value": "project=$projectName"
        },
        {
          "key": "label",
          "value": "componentType=ci"
        },
        {
          "key": "label",
          "value": "component=jenkins"
        },
        {
          "key": "user",
          "value": "root"
        }
      ]
    },
    "volumes": [
      {
        "containerPath": "/var/jenkins_home/",
        "hostPath": "/data/glusterfs/global/$projectName/jenkins/",
        "mode": "RW"
      }
    ]
  },#if( $constrainByTypeAttribute )
  "constraints": [
    [
      "type",
      "LIKE",
      "operator"
    ]
  ],#end
  "healthChecks": [
    {
      "protocol": "HTTP",
      "portIndex": 0,
      "path": "/",
      "gracePeriodSeconds": 180,
      "intervalSeconds": 20,
      "maxConsecutiveFailures": 10
    }
  ],
  "labels": {
    "project": "$projectName",
    "componentType": "ci",
    "component": "jenkins"
  }
}