{
  "id": "$ID",
  "instance": 1,
  "cpus": 0.5,
  "mem": 1024,
  "type": "DOCKER",
  "container": {
    "docker": {
      "image": "sonatype/nexus:2.13.0-01",
      "network": "BRIDGE",
      "portMappings": [
        {
          "containerPort": 8081,
          "hostPort": 0,
          "protocol": "tcp",
          "servicePort": 0
        }
      ],
      "parameters": [
        {
          "key": "env",
          "value": "CONTEXT_PATH=/"
        },

        {
          "key": "env",
          "value": "JAVA_OPTS=-Dnexus.browserdetector.disable=true -DglobalRestApiSettings.baseUrl=https://${brickUrl}"
        },
        {
          "key": "label",
          "value": "project=$projectName"
        },
        {
          "key": "label",
          "value": "componentType=repository"
        },
        {
          "key": "label",
          "value": "component=nexus"
        }
      ]
    }
  },#if( $constrainByTypeAttribute )
  "constraints": [
    [
      "type",
      "LIKE",
      "operator"
    ]
  ],#end
  "healthChecks": [
    {
      "protocol": "HTTP",
      "portIndex": 0,
      "path": "/",
      "gracePeriodSeconds": 180,
      "intervalSeconds": 20,
      "maxConsecutiveFailures": 10
    }
  ],
  "labels": {
    "project": "$projectName",
    "componentType": "repository",
    "component": "nexus"
  }
}