<!--
  #%L
  commons-image-manager
  %%
  Copyright (C) 2016 Kodo-kojo
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>TEST %d{HH:mm:ss.SSS} [%thread] %-5level %X{akkaSource} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>

    <logger name="io.kodokojo" level="TRACE"/>
    <logger name="akka" level="TRACE"/>
    <logger name="retrofit" level="DEBUG"/>
    <!--logger name="spark" level="INFOS"/-->
    <logger name="org.eclipse.jetty.http" level="INFO"/>
    <logger name="com.github.dockerjava.core.command.LogContainerResultCallback" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>